{% extends 'layouts/payroll_layout.html' %}
{% block content %}
<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">{{ title }}</h3>
    </div>
    <form role="form" method="post" action="{% url 'add_komponen_gaji' %}">
        {% csrf_token %}
        <div class="card-body">
            <div class="form-group">
                <label for="name" class="font-weight-bold">Nama Komponen Gaji</label>
                <input type="text" class="form-control" name="name" id="name" placeholder="Contoh: Tunjangan Makan" required>
            </div>

            <div class="form-group">
                <label class="font-weight-bold d-block">Jenis Komponen</label>
                <div class="custom-control custom-radio custom-control-inline">
                    <input class="custom-control-input" type="radio" id="earning" name="type" value="Penghasilan" required>
                    <label for="earning" class="custom-control-label">Penghasilan</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input class="custom-control-input" type="radio" id="deduction" name="type" value="Potongan" required>
                    <label for="deduction" class="custom-control-label">Potongan</label>
                </div>
            </div>

            <div class="form-group">
                <label for="jmlh_hari" class="font-weight-bold">Satuan Hitung</label>
                <div class="input-group">
                    <select class="custom-select" id="calculation_type" name="calculation_type" required>
                        <option value="" disabled selected>Pilih Satuan Hitung</option>
                        {% for type in calculation_types %}
                        <option value="{{ type.0 }}">{{ type.1 }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>

        <div class="card-footer bg-transparent">
            <button id="submit" type="submit" class="btn btn-success px-4">
                <i class="fas fa-save mr-1"></i> Simpan
            </button>
            <button type="reset" class="btn btn-danger float-right px-4">
                <i class="fas fa-times mr-1"></i> Batal</button>
        </div>
    </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

{% if messages %}
<script>
    {% for message in messages %}
    Swal.fire({
        icon: "{{ message.tags }}",  
        title: "{{ message.tags|capfirst }}",
        text: "{{ message }}",
        showConfirmButton: false,
        timer: 3000
    });
    {% endfor %}
</script>
{% endif %}
{% endblock %}