{% extends 'layouts/payroll_layout.html' %}
{% block content %}
<div class="card">
    <div class="card-header">
        <a href="{% url 'add_komponen_gaji' %}" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i> Tambah Komponen Gaji</a>
    </div>
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr class="text-center">
                    <th class="col-1">NO</th>
                    <th class="col-3">Nama Komponen</th>
                    <th class="col-2">Jenis Komponen</th>
                    <th class="col-2">Satuan Hitung</th>
                    <th class="col-2">Status</th>
                    <th class="col-2">Aksi</th>
                </tr>
            </thead>
              {% if salery_components %}
              {% for component in salery_components %}
              <tr>
                  <td class='text-center'>{{ forloop.counter }}</td>
                  <td class='pl-4'>{{ component.name }}</td>
                  <td class='text-center'>{{ component.type }}</td>
                  <td class='text-center'>{{ component.calculation_type }}</td>
                  <td class='text-center'>{{ component.is_active|yesno:"Aktif,Tidak Aktif" }}</td>
                  <td class='text-center'>
                      <a href="{% url 'edit_komponen_gaji' component.id %}" class="btn btn-sm btn-warning"><i class="fas fa-edit"></i> Edit</a> 
                      <a href="javascript:void(0);" class="btn btn-danger btn-sm btn-hapus" data-url="{% url 'delete_komponen_gaji' component.id %}"><i class="fa fa-trash"></i> Hapus</a>
                  </td>
              </tr>
              {% endfor %}
              {% else %}
                <td colspan="6" class="text-center">No Component Salery Available</td>
              {% endif %}
            <tbody>
            </tbody>

        </table>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

{% if messages %}
<script>
    {% for message in messages %}
    Swal.fire({
        icon: "{{ message.tags }}",  
        title: "{{ message.tags|capfirst }}",
        text: "{{ message }}",
        showConfirmButton: false,
        timer: 3000
    });
    {% endfor %}
</script>
{% endif %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
$(document).on('click', '.btn-hapus', function(e){
    e.preventDefault(); // cegah langsung menuju link

    var url = $(this).attr("data-url");

    Swal.fire({
        title: 'Yakin ingin menghapus data ini?',
        text: "Data yang sudah dihapus tidak bisa dikembalikan!",
        icon: 'warning',
        showCancelButton: true,
        cancelButtonColor: '#E0A800',
        confirmButtonColor: '#d33',
        cancelButtonText: 'Batal',
        confirmButtonText: 'Ya, hapus!',
    }).then((result) => {
        if (result.isConfirmed) {
            // Redirect manual ke URL penghapusan
            window.location.href = url;
        }
    });
});
</script>
{% endblock %}