@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

:root {
    --primary-color: #75C4EB;
    --primary-light: #98dbfdff;
    --primary-dark: #56aedaff;
    --accent-color: #00BFA5;
    --background-light: #E8F5E9;
    --text-color: #5395b7ff;
    --text-light: #9ecde5ff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    min-height: 100vh;
    padding: 20px;
    
    background: linear-gradient(135deg, var(--primary-light) 25%, var(--primary-color) 50%, var(--primary-dark) 75%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-attachment: fixed; 
}

.login-container {
    background-color: var(--background-light);
    padding: 25px 20px; 
    border-radius: 20px; 
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    width: 90%; 
    max-width: 400px;
}

.login-container img {
    display: block;
    margin: 0 auto 20px auto;
    width: 120px; 
    height: auto;
}

.login-container h1 {
    text-align: center;
    font-size: 1.5rem; 
    margin-bottom: 20px;
    color: var(--text-color);
}

.login-container span {
    display: block;
    font-size: 0.85rem;
    text-align: center;
    color: var(--primary-dark);
    margin-bottom: 10px;
}

.login-container input {
    background-color: var(--background-light);
    margin: 10px 0;
    padding: 12px 15px;
    font-size: 1rem;
    border-radius: 8px;
    width: 100%;
    border: 1px solid var(--primary-light);
    outline: none;
}

input[type="username"]:focus, input[type="password"]:focus,
.login-container input:focus { 
    border-color: var(--primary-color);
    box-shadow: 0 0 0 3px var(--primary-dark);
}

.login-container button {
    width: 100%; 
    padding: 12px 16px;
    margin: 20px 0 10px 0;
    background-color: var(--primary-dark);
    color: #fff;
    border: 1px solid transparent;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease, transform 0.1s ease;
}

.login-container button:hover {
    background-color: var(--accent-color);
}

.login-container button:active {
    transform: scale(0.98); 
}


@media (min-width: 600px) {
    .login-container {
        padding: 32px;
    }

    .login-container img {
        width: 150px; 
    }

    .login-container h1 {
        font-size: 24px;
    }

    .login-container button {
        width: 50%;
        margin: 16px 25% 16px 25%;
        font-size: 16px;
    }

    .login-container button:hover {
        background-color: var(--accent-color);
        transform: none;
    }
}