@import url(https://fonts.googleapis.com/css?family-Montserrat:wght@300;400;500;600;700&display-swap);

:root {
  --primary-color: #75C4EB;
  --primary-light: #98dbfdff;
  --primary-dark: #56aedaff;
  --accent-color: #00BFA5;
  --background-light: #E8F5E9;
  --text-color: #5395b7ff;
  --text-light: #9ecde5ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;

}

body {
  background: linear-gradient(135deg, var(--primary-light) 25%, var(--primary-color) 50%), var(--primary-dark) 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.login-container {
  background-color: var(--background-light);
  padding: 32px 32px;
  border-radius: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  width: 400px;
}

.login-container img {
  display: block;
  margin: 0 auto;
  width: 150px;
  height: auto;
}

.login-container h1 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  color: var(--text-color);
}

.login-container span {
  font-size: 14px;
  text-align: center;
  color: var(--primary-dark);
}

.login-container input {
  background-color: var(--background-light);
  margin: 8px 0;
  padding: 10px 15px;
  font-size: 13px;
  border-radius: 8px;
  width: 100%;
  border: 1px solid var(--primary-light);
  outline: none;
}

input[type="username"]:focus, input[type="password"]:focus {
  border-color: var(--primary-color);
  box-shadow: 0 0 0 3px var(--primary-dark);
}

.login-container button {
  width: 50%;
  margin-right: 25px;
  margin-left: 25px;
  padding: 12px 16px;
  margin: 16px 85px;
  background-color: var(--primary-dark);
  color: #fff;
  border: 1px solid transparent;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

.login-container button:hover {
  background-color: var(--accent-color);
}