{% extends "layouts/layout.html" %}

{% block content %}
<div class="container-fluid">

  <div class="row">
    <div class="col-md-6">

      <!-- DETAIL DATA -->
      <div class="card card-info">
        <div class="card-header">
          <h3 class="card-title">Detail Lembur</h3>
        </div>

        <div class="card-body">

          <div class="form-group">
            <label>Nama Karyawan</label>
            <input type="text" class="form-control" value="{{ lembur.nik.name }}" readonly>
          </div>

          <div class="form-group">
            <label>Status</label>
            <select name="status" class="form-control" required readonly>
              <option>{{ lembur.status }}</option>
            </select>
          </div>

          <div class="form-group">
            <label>Tanggal Lembur</label>
            <input type="text" class="form-control" value="{{ lembur.overtime_date }}" readonly>
          </div>

          <div class="form-group">
            <label>Jam Mulai</label>
            <input type="text" class="form-control" value="{{ lembur.start_date|date:'H:i:s' }}" readonly>
          </div>

          <div class="form-group">
            <label>Jam Selesai</label>
            <input type="text" class="form-control" value="{{ lembur.end_date|date:'H:i:s' }}" readonly>
          </div>

          <div class="form-group">
            <label>Durasi</label>
            <input type="text" class="form-control" value="{{ lembur.total_jam }}" readonly>
          </div>

          <div class="form-group">
            <label>Catatan</label>
            <textarea class="form-control" rows="4" readonly>{{ lembur.notes }}</textarea>
          </div>
        </div>
      </div>
    </div>

    <!-- APPROVAL -->
    <div class="col-md-6">
      <div class="card card-warning">
        <div class="card-header">
          <h3 class="card-title">Pengajuan</h3>
        </div>

        <form method="POST" action="{% url 'detail_pengajuan_lembur' lembur.id %}">
          {% csrf_token %}
          <div class="card-body">

            <div class="form-group">
              <label>Pilih Atasan (PJ/PIC)</label>
              <select name="approved_by" class="form-control" required {% if lembur.status == 'APPROVED' or lembur.status == 'DIVISI APPROVED' or lembur.status == 'REJECTED' %}disabled{% endif %}>
                <option selected disabeld value="">-- Pilih --</option>
                {% for boss in boss_list %}
                  <option {% if boss.nik == lembur.approved_by_id %} selected {% endif %} value="{{ boss.nik }}">{{ boss.name }}</option>
                {% endfor %}
              </select>
            </div>

            <div class="form-group">
              <label>Keterangan</label>
              <textarea name="reason" required class="form-control" rows="4"
                placeholder="Wajib diisi">{{ lembur.reason }}</textarea>
            </div>

          </div>

          <div class="card-footer">
            <button type="submit" {% if lembur.status == 'APPROVED' or lembur.status == 'DIVISI APPROVED' or lembur.status == 'REJECTED' %} disabled {% endif %}  class="btn btn-success">
              <i class="fas fa-check"></i> Simpan
            </button>
            <a href="{% url 'pengajuan_lembur' %}" class="btn btn-secondary">
              Kembali
            </a>
          </div>
        </form>

      </div>
    </div>

  </div>
</div>
{% endblock %}
